<p id="notice"><%= notice %></p>

<p>
  <strong>Admin:</strong>
  <%= @admin.admin_id %>
</p>

<p>
  <strong>Username:</strong>
  <%= @admin.username %>
</p>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
